*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2{
    color: #fff;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px solid #fff;
}

labe {
    color: #fff;
}

input {
    background-color: black;
}

.button {
    background-color: #000;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px solid blue;
}

button:hover {
    background-color: #fff;
    color: #000;
}